* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-brand-primary: #1D99FF;
    --color-brand-secondary: #FF455B;

    --color-text-dark: #708AA1;
    --color-text-light: #AEBDC9;

    --color-interface-dark: #D5E0EC;
    --color-interface-light: #F1F4F6;

    --color-feedback-error: #F1526E;
    --color-feedback-info: #3DA4F3;
    --color-feedback-success: #00C689;
    --color-feedback-warning: #FDBF35;

    --color-common-dark: #000000;
    --color-common-light: #FFFFFF;

    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 32px;
    --spacing-xlarge: 40px;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--color-interface-light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header {
    padding-top: var(--spacing-default);
    padding-bottom: var(--spacing-default);
}

.header-item {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.button-menu {
    font-size: 3em;
}

.title {
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 2em;
    color: var(--color-text-light);
}

.subtitle {
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-brand-primary);
    margin-bottom: 5vh;
}

.container-task {
    margin-bottom: 3vh;
}

.form-task {
    margin-top: var(--spacing-medium);
}

.form-task-label {
    display: block;
    font-size: 1em;
    font-weight: 700;
    color: var(--color-text-dark);
}

.form-task-input {
    width: 86vw;
    height: 8.2vh;
    padding-left: 2vw;
    margin-right: 1.2vw;
    font-size: 1em;
}

.form-task-button {
    background-color: var(--color-brand-secondary);
    border-radius: 10%;
    border: none;
    padding: 1.5vw 2.5vw;
}

.button-add {
    color: var(--color-common-light);
    font-size: 1em;
}

.container-checkbox {
    border-top: 1px solid black;
    border-radius: 0 3vw;
    background-color: var(--color-common-light);
    padding-left: 3.5vw;
    height: 57.8vh;
    width: 100vw;
}

.added-task {
    margin: 3vh 0;
}

.task-input, .task-text {
    display: inline-block;
    color: var(--color-common-dark);
    vertical-align: middle;
}

.task-text {
    padding-right: 73vw;
    padding-left: 3vw;
    font-size: 1em;
    font-weight: 400;
}

.task-input {
    transform: scale(1.5);
}

#task-done {
    text-decoration: line-through;
}

.icon-added {
    color: var(--color-text-light);
    font-size: 2em;
    vertical-align: middle;
    margin-right: 0.5vw;
}