* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-brand-primary: #1D99FF;
    --color-brand-secondary: #FF455B;

    --color-text-dark: #708AA1;
    --color-text-light: #AEBDC9;

    --color-interface-dark: #D5E0EC;
    --color-interface-light: #F1F4F6;

    --color-feedback-error: #F1526E;
    --color-feedback-info: #3DA4F3;
    --color-feedback-success: #00C689;
    --color-feedback-warning: #FDBF35;

    --color-common-dark: #000000;
    --color-common-light: #FFFFFF;

    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 32px;
    --spacing-xlarge: 40px;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--color-interface-light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Cabeçalho */
.header {
    padding-top: var(--spacing-default);
    padding-bottom: var(--spacing-default);
}

.header-item {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.button-menu {
    font-size: 2em;
}

/* Informações e adição de novas tarefas */
.title {
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 2em;
    color: var(--color-text-light);
}

.subtitle {
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-brand-primary);
    margin-bottom: 5vh;
}

.container-task {
    margin-bottom: var(--spacing-medium);
}

.form-task {
    margin-top: var(--spacing-medium);
}

.form-task-label {
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--color-text-dark);
}

.task-box {
    display: flex;
    justify-content: space-between;
}

.form-task-input {
    width: 88%;
    height: 4vh;
    padding-left: 2vw;
    font-size: 1em;
    vertical-align: middle;
}

.form-task-button {
    background-color: var(--color-brand-secondary);
    border-radius: 10%;
    border: none;
    width: 10%;
    vertical-align: middle;
}

.button-add {
    color: var(--color-common-light);
    font-size: 1em;
}

/* Conteúdo após adição de tarefas */
.container-checkbox {
    border-top: 1px solid black;
    border-radius: 0 5vw 0 0;
    background-color: var(--color-common-light);
    height: 65vh;
    width: 100%;
}

.added-task {
    margin: 3vh auto;
    padding: 0 5% 0 3.5%;
    display: flex;
    justify-content: space-between;
}

.task-text {
    padding-left: 4vw;
    font-size: 1em;
    font-weight: 400;
    color: var(--color-common-dark);
    vertical-align: middle;
    display: inline-block;
}

.task-input {
    transform: scale(1.5);
    display: inline-block;
}

#task-done {
    text-decoration: line-through;
}

.icon-box {
    display: flex;
}

#icon-pen {
    padding-right: 1vw;
}

.icon-added {
    color: var(--color-text-light);
    font-size: 2em;
    vertical-align: middle;
}

/* Media queries */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .container-checkbox {
        height: 62vh;
    }
    
    .task-input {
        transform: scale(1.2);
    }

    .icon-added {
        font-size: 1.5em;
    }
}

@media (max-width: 400px) {
    .container-checkbox {
        height: 62vh;
    }
    
    .icon-added {
        font-size: 1.4em;
    }
}

@media (min-width: 481px) {
    body {
        font-size: 14px;
    }

    .header {
        padding-top: var(--spacing-medium);
        padding-bottom: var(--spacing-medium);
    }

    .container-checkbox {
        height: 55vh;
    }
    
    .task-input {
        transform: scale(1.3);
    }

    .icon-added {
        font-size: 1.7em;
    }
}
  
@media (min-width: 769px) {
    body {
        font-size: 16px;
    }

    .avatar {
        width: 2.5em;
        height: 2.5em;
    }
    
    .button-menu {
        font-size: 3em;
    }

    .container-checkbox {
        height: 57vh;
    }

    .task-input {
        transform: scale(1.5);
    }

    .icon-added {
        font-size: 2em;
    }
}

@media (min-width:961px){
    body {
        font-size: 18px;
    }

    .container-checkbox {
        height: 55.5vh;
    }

    .task-input {
        transform: scale(1.5);
    }
}

@media (min-width: 1200px) {
    .container-checkbox {
        height: 56.7vh;
    }

    .form-task-input {
        height: 6vh;
    }
    
    .form-task-button {
        width: 8%;
    }

    .icon-added {
        font-size: 2em;
    }
}